<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.closet">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hanger"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- Launcher Activity can keep the default AppTheme if you prefer -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All Activities that should have the Drawer must use “NoActionBar” -->
        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DetailsActivity"
            android:exported="false"
            android:parentActivityName=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MostViewedActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TopPicksActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Add any other Activities here, all using NoActionBar if they need the same drawer -->
    </application>
</manifest>
