<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.closet">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hanger"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">

        <!-- Needed for Google Credentials Broker -->
        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.CredentialManager.BROKER_ALLOWED_CALLERS"
            android:resource="@array/broker_allowed_callers" />

        <!-- 1) LoginActivity: launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- 2) MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ListActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".DetailsActivity"
            android:exported="false"
            android:parentActivityName=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MostViewedActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".TopPicksActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AccountActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".FavouritesActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- 9) AvatarActivity -->
        <activity
            android:name=".AvatarActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".AvatarPreviewActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>
</manifest>